[submodule "dust3r"]
	path = dust3r
	url = https://github.com/naver/dust3r

[submodule "vggt"]
	path = vggt
	url = https://github.com/facebookresearch/vggt

[submodule "Depth-Anything-3"]
	path = Depth-Anything-3
	url = https://github.com/ByteDance-Seed/Depth-Anything-3