images_train/
models/
reconstructions/*
!reconstructions/vggt_10_False.ply
!reconstructions/dust3r_4_True.ply
!reconstructions/colmap_20_False.ply
!reconstructions/meshroom_20_True.obj
frames/
360_video.mp4